#sobreMiDescripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 5vw;
    gap: 5vh;
    width: 70vw;
}

#sobreMiDescripcion h3 {
    align-self: flex-end;
}

/*------------------------------------------ Responsive ------------------------------------------*/
@media (min-width:1300px) {
    #sobreMiDescripcion {
        font-size: 1.2rem;
    }
}

@media (max-width:796px) {
    #sobreMi {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    #sobreMiDescripcion {
        padding: 2vh 2vw;
        gap: 2vh;
        font-size: 0.8rem;
    }

    #sobreMiDescripcion {
        font-size: 0.7rem;
    }

}